.award-round {
    border-radius: 100px; /* Радиус скругления */
    box-shadow: 0 0 0 3px deepskyblue, 0 0 13px #333; /* Параметры теней */
    width: 60px;
    height: 60px;
    transition: transform .25s; /* time to transform */
}
.award-round:hover {
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari 3-8 */
    transform: scale(2.5); /* Other browsers */
}