.contact-info__avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid;
    border-color: #e3f2fd;
}
.inner {
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
}