{% extends 'fitnessapp/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}
{% block css %}
    <link id="bsdp-css"  rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
{% endblock css %}

{% block content %}
<table class="table">
    <tr>
        <td class="col-md-2"></td>
        <td class="col-md-4">
            <form method="post"> {% csrf_token %}
                {% bootstrap_form form %}
                {% if not object.id %}
                    <button type="submit" class="btn btn-primary">Create a note</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">Apply</button>
                {% endif %}
            </form>
        </td>
        <td class="col-md-2"></td>
    </tr>
</table>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.en-GB.min.js' %}"></script>
    <script src="{% static 'js/datepicker_add-note.js' %}"></script>
{% endblock js%}