{% extends 'fitnessapp/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}
{% block css %}
    <link id="bsdp-css"  rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
{% endblock css %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <td colspan="4" align="center" class="col-md-4"><h1><p align="center"><b>{{ user.first_name }} {{ user.last_name }}</b></p></h1></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td class="col-md-2" colspan="2">
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
    </tbody>
</table>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.en-GB.min.js' %}"></script>
    <script src="{% static 'js/datepicker_edit-profile.js' %}"></script>
{% endblock js%}