{% extends 'fitnessapp/base.html' %}
{% load static %}
{% load thumbnail %}
{% load fitnessapp_tags %}

{% block title %}
{{ title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/award_round.css' %}">
{% endblock css %}

{% block content %}
    <table class="table">
        <tr>
            <td>
                <table>
                    <tr align="center">
                        <th colspan="2">TOP-10 <br>consumed the least calories today</th>
                    </tr>
                    <tr align="center">
                        <th>Username</th>
                        <th>kcal</th>
                    </tr>
                        {% least_kcal as top_10_least %}
                        {% for element in top_10_least %}
                            <tr>
                                <td>
                                    <a class="nav-link" href="{% url 'profile' id=element.id %}">
                                        {{ element }}
                                    </a>
                                </td>
                                <td align="center" style="vertical-align: middle">{{ element.total_kcal_per_day|default:0.0 }}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
            <td>
                <table>
                    <tr align="center">
                        <th colspan="2">TOP-10 <br>consumed the most calories today</th>
                    </tr>
                    <tr align="center">
                        <th>Username</th>
                        <th>kcal</th>
                    </tr>
                        {% most_kcal as top_10_most %}
                        {% for element in top_10_most %}
                            <tr>
                                <td>
                                    <a class="nav-link" href="{% url 'profile' id=element.id %}">
                                        {{ element }}
                                    </a>
                                </td>
                                <td align="center" style="vertical-align: middle">{{ element.total_kcal_per_day|default:0.0 }}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
            <td>
                <table>
                    <tr align="center">
                        <th colspan="3">Awarded users</th>
                    </tr>
                        {% awarded_users_list as user_list %}
                        {% for element in user_list %}
                            <tr>
                                <td>
                                    <a class="nav-link" href="{% url 'profile' id=element.awarded_user %}">
                                        {{ element.awarded_user__username }} <br>{{ element.award_date }}
                                    </a>
                                </td>
                                {% if element.award_name__award_picture %}
                                    {% thumbnail element.award_name__award_picture "150x150" crop="center" as im %}
                                        <td><img class="award-round" src="{{ im.url }}" title="{{ element.award_name__award_name }} {% if element.remark %} ({{ element.remark }}) {% endif %}"></td>
                                    {% endthumbnail %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                </table>
            </td>
        </tr>
    </table>

{% endblock content %}
