{% extends 'fitnessapp/base.html' %}
{% load bootstrap4 %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<table class="table">
    <tr>
        <td class="col-md-2"></td>
        <td class="col-md-4">
            <form method="post"> {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
            <br><a href="{% url 'registration' %}" class="btn btn-primary">Registration</a>
        </td>
        <td class="col-md-2"></td>
    </tr>
</table>
{% endblock content %}
