{% extends 'fitnessapp/base.html' %}
{% load static %}
{% load fitnessapp_tags %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <td style="text-align: center"><h1><b>{{ user.first_name }} {{ user.last_name }}</b></h1></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="card-columns">
                    {% regroup notes by user_fit_statistics_date as notes_list %}
                    {% for note_date, meal_stage_list in notes_list %}
                        <div class="card" style="width: 22rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <font color="green">{{ note_date }}</font>
                                </h5>
                                <p class="card-text">
                                    <table>
                                        {% for note_meal_stage in meal_stage_list %}
                                            {% ifchanged %}
                                                <tr>
                                                    <td>
                                                        <b><i>{{ note_meal_stage.meal_stage }}</i></b><br>
                                                    </td>
                                                </tr>
                                            {% endifchanged %}
                                            <tr>
                                                <td>
                                                    {{ note_meal_stage.food_info.food_category|truncatechars:5 }}
                                                    <a href="{% url 'edit-note' id=note_meal_stage.id %} ">
                                                        {{ note_meal_stage.food_info.food_name }}
                                                    </a>
                                                    У: {{ note_meal_stage.current_carbs|default:'' }}
                                                    П: {{ note_meal_stage.current_prot|default:'' }}
                                                    Ж: {{ note_meal_stage.current_fats|default:'' }}
                                                    Portion: {{ note_meal_stage.real_portion }}
                                                    kcal: {{ note_meal_stage.current_kcal }}<br>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </p>
{#                                {% if user.is_authenticated %}#}
{#                                    <a href="{% url 'edit-note' id=1 %} " class="btn btn-primary">Edit note</a>#}
{#                                {% endif %}#}
                                {% for sum_kcal in kcal_list %}
                                    {% if sum_kcal.user_fit_statistics_date == note_date %}
                                        <font color="green">Total: {{ sum_kcal.current_kcal__sum }} kcal</font>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
    </tbody>
</table>

{% endblock content %}
