{% extends 'fitnessapp/base.html' %}
{% load bootstrap4 %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<table class="table">
    <tr>
        <td class="col-md-2"></td>
        <td class="col-md-8">
            <table>
                <tr>
                    <th colspan="5" style="text-align: center">Nutrition program (1200 kcal)</th>
                </tr>
                <tr>
                    <td></td>
                    <td>Carbs (norm/d: 91)</td>
                    <td>Prots (norm/d: 137)</td>
                    <td>Fats (norm/d: 34)</td>
                    <td> kcal</td>
                </tr>
                <tr>
                    <td>Breakfast</td>
                    <td style="text-align: center">15</td>
                    <td style="text-align: center">23</td>
                    <td style="text-align: center">6</td>
                    <td style="text-align: center">200</td>
                </tr>
                <tr>
                    <td>Afternoon snack</td>
                    <td style="text-align: center">8</td>
                    <td style="text-align: center">12</td>
                    <td style="text-align: center">3</td>
                    <td style="text-align: center">100</td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td style="text-align: center">30</td>
                    <td style="text-align: center">45</td>
                    <td style="text-align: center">11</td>
                    <td style="text-align: center">400</td>
                </tr>
                <tr>
                    <td>Evening snack</td>
                    <td style="text-align: center">8</td>
                    <td style="text-align: center">12</td>
                    <td style="text-align: center">3</td>
                    <td style="text-align: center">100</td>
                </tr>
                <tr>
                    <td>Dinner</td>
                    <td style="text-align: center">30</td>
                    <td style="text-align: center">45</td>
                    <td style="text-align: center">11</td>
                    <td style="text-align: center">400</td>
                </tr>
            </table>
        </td>
        <td class="col-md-2"></td>
    </tr>
    <tr>
        <td class="col-md-2"></td>
        <td class="col-md-8">
            <div class="card-columns">
                <table>
                    <tr>
                        <th colspan="2" style="text-align: center">Breakfast</th>
                    </tr>
                    <tr>
                        <td style="text-align: center">1</td>
                        <td style="text-align: center">1П + 1К</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">2</td>
                        <td style="text-align: center">1П + 1М</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">3</td>
                        <td style="text-align: center">1П + 1Ф</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th colspan="2" style="text-align: center">Snacks</th>
                    </tr>
                    <tr>
                        <td style="text-align: center">1</td>
                        <td style="text-align: center">1М</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">2</td>
                        <td style="text-align: center">1О</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th colspan="2" style="text-align: center">Lunch / Dinner</th>
                    </tr>
                    <tr>
                        <td style="text-align: center">1</td>
                        <td style="text-align: center">2П + 2К</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">2</td>
                        <td style="text-align: center">1К + 1М + 1П + 1О</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">3</td>
                        <td style="text-align: center">1К + 1Ф + 2П</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">4</td>
                        <td style="text-align: center">1К + 2П + 1Ж</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">5</td>
                        <td style="text-align: center">1М + 1П + 2О</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">6</td>
                        <td style="text-align: center">1Ф + 1П + 2О</td>
                    </tr>
                </table>
            </div>
        </td>
    <td class="col-md-2"></td>
</tr>
</table>
{% endblock content %}
