{% extends 'fitnessapp/base.html' %}
{% load static %}
{% load thumbnail %}
{% load fitnessapp_tags %}

{% block title %}
{{ title }}
{% endblock title %}
{% block css %}
    <link id="bsdp-css"  rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/award_round.css' %}">
    <link rel="stylesheet" href="{% static 'css/info_avatar.css' %}">
{% endblock css %}
{% block content %}

<table class="table">
    <thead>
        <tr>
            <td colspan="4" align="center"><h1><b>{{ object.first_name }} {{ object.last_name }}</b></h1></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">
                Username: {{ object.username }}<br>
                Age: {{ object.age|default:'' }}<br>
                {% if user.is_gender %}
                    Gender: {{ object.gender|default:'' }}<br>
                {% endif %}
                {% if user.is_date_of_birth %}
                    Date of birth: {{ object.date_of_birth }} <br>
                {% endif %}
                {% if user.is_country %}
                    Country: {{ object.country|default:'' }}<br>
                {% endif %}
                {% if user.is_city %}
                    City: {{ object.city|default:'' }}<br>
                {% endif %}
                {% if user.is_phone %}
                    Mob phone num.: {{ object.phone|default:'' }}<br>
                {% endif %}
                {% if user.is_email %}
                    e-mail: {{ object.email|default:'' }}<br>
                {% endif %}
                Height: {{ object.height|default:'---' }} m<br>
                Weight: {{ object.weight |default:'---'}} kg<br>

            </td>
            <td colspan="2" align="center">
            <table>
                {% if customuser.profile_photo %}
                    <tr><td align="center">
                    {% thumbnail customuser.profile_photo "150x150" crop="center" as im %}
                        <img class="contact-info__avatar" src="{{ im.url }}">
                    {% endthumbnail %}
                    </td></tr>
                {% endif %}
                {% if awards %}
                    <tr><td align="center">
                    {% for element in awards %}
                        {% if element.award_name__award_picture %}
                            {% thumbnail element.award_name__award_picture "150x150" crop="center" as im %}
                                <img class="award-round" src="{{ im.url }}" title="{{ element.award_name__award_name }} {% if element.remark %} ({{ element.remark }}) {% endif %} : {{ element.award_date }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% endfor %}
                    </td></tr>
                {% endif %}
            </table>
            </td>
        </tr>
        <tr>
        {% if user.is_statistics_all %}
            <td colspan="4">
                <table align="center">
                    <tr>
                        <th colspan="5">
                            {% if user.is_statistics_week or user.is_statistics_month %}
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <form method="post">{% csrf_token %}
                                        {% if user.is_statistics_week or user.is_statistics_month %}
                                        <button name="request_days" type="submit" class="btn btn-primary" value="1" >Today</button>
                                        {% endif %}
                                        {% if user.is_statistics_week %}
                                        <button name="request_days" type="submit" class="btn btn-primary" value="7" >Last week</button>
                                        {% endif %}
                                        {% if user.is_statistics_month %}
                                        <button name="request_month" type="submit" class="btn btn-primary" value="month" >Last month</button>
                                        {% endif %}
                                    </form>
                                    {% if user.is_statistics_week or user.is_statistics_month %}
                                    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" style="margin-left: 5px;">Date range</a>
                                    {% endif %}
                                </div>
                            </nav>
                            {% endif %}
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div id="sandbox-container">
                                        <form method="post">{% csrf_token %}
                                            <div class="input-daterange input-group" id="input-daterange">
                                                <input type="text" class="input-sm form-control" name="start" style="top: 6px; position: inherit;" />
                                                <span class="input-group-addon" style="margin-left: 10px; top: 9px; position: inherit;">to</span>
                                                <input type="text" class="input-sm form-control" name="end" style="margin-left: 13px; top: 6px;" />
                                                <button type="submit" class="btn btn-primary" style="margin-left: 10px; top: 6px; position: inherit;">Apply</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    {% if period %}
                    <tr>
                        <th>{{ period|default:'7 days' }}
                        </th>
                        <th>Carbohydrates</th>
                        <th>Proteins</th>
                        <th>Fats</th>
                        <th>kcal</th>
                    </tr>
                    {% if total_composition_dict %}
                    <tr>
                        <td>Breakfast</td>
                        <td>{{ meal_stage_dict.breakfast.current_carbs_avg_breakfast|default:'0.0'|amount_is_correct:'23'|safe }}</td>
                        <td>{{ meal_stage_dict.breakfast.current_prot_avg_breakfast|default:'0.0'|amount_is_correct:'15'|safe }}</td>
                        <td>{{ meal_stage_dict.breakfast.current_fats_avg_breakfast|default:'0.0'|amount_is_correct:'6'|safe }}</td>
                        <td>{{ meal_stage_dict.breakfast.current_kcal_avg_breakfast|default:'0.0'|amount_is_correct:'200'|safe }}</td>
                    </tr>
                    <tr>
                        <td>Afternoon snack</td>
                        <td>{{ meal_stage_dict.afternoon_snack.current_carbs_avg_afternoon_snack|default:'0.0'|amount_is_correct:'12'|safe }}</td>
                        <td>{{ meal_stage_dict.afternoon_snack.current_prot_avg_afternoon_snack|default:'0.0'|amount_is_correct:'8'|safe }}</td>
                        <td>{{ meal_stage_dict.afternoon_snack.current_fats_avg_afternoon_snack|default:'0.0'|amount_is_correct:'3'|safe }}</td>
                        <td>{{ meal_stage_dict.afternoon_snack.current_kcal_avg_afternoon_snack|default:'0.0'|amount_is_correct:'100'|safe }}</td>
                    </tr>
                    <tr>
                        <td>Lunch</td>
                        <td>{{ meal_stage_dict.lunch.current_carbs_avg_lunch|default:'0.0'|amount_is_correct:'45'|safe }}</td>
                        <td>{{ meal_stage_dict.lunch.current_prot_avg_lunch|default:'0.0'|amount_is_correct:'30'|safe }}</td>
                        <td>{{ meal_stage_dict.lunch.current_fats_avg_lunch|default:'0.0'|amount_is_correct:'11'|safe }}</td>
                        <td>{{ meal_stage_dict.lunch.current_kcal_avg_lunch|default:'0.0'|amount_is_correct:'400'|safe }}</td>
                    </tr>
                    <tr>
                        <td>Evening snack</td>
                        <td>{{ meal_stage_dict.evening_snack.current_carbs_avg_evening_snack|default:'0.0'|amount_is_correct:'12'|safe }}</td>
                        <td>{{ meal_stage_dict.evening_snack.current_prot_avg_evening_snack|default:'0.0'|amount_is_correct:'8'|safe }}</td>
                        <td>{{ meal_stage_dict.evening_snack.current_fats_avg_evening_snack|default:'0.0'|amount_is_correct:'3'|safe }}</td>
                        <td>{{ meal_stage_dict.evening_snack.current_kcal_avg_evening_snack|default:'0.0'|amount_is_correct:'100'|safe }}</td>
                    </tr>
                    <tr>
                        <td>Dinner</td>
                        <td>{{ meal_stage_dict.dinner.current_carbs_avg_dinner|default:'0.0'|amount_is_correct:'45'|safe }}</td>
                        <td>{{ meal_stage_dict.dinner.current_prot_avg_dinner|default:'0.0'|amount_is_correct:'30'|safe }}</td>
                        <td>{{ meal_stage_dict.dinner.current_fats_avg_dinner|default:'0.0'|amount_is_correct:'11'|safe }}</td>
                        <td>{{ meal_stage_dict.dinner.current_kcal_avg_dinner|default:'0.0'|amount_is_correct:'400'|safe }}</td>
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td>{{ meal_stage_dict.other.current_carbs_avg_other|default:'0.0'|amount_is_correct:'0'|safe }}</td>
                        <td>{{ meal_stage_dict.other.current_prot_avg_other|default:'0.0'|amount_is_correct:'0'|safe }}</td>
                        <td>{{ meal_stage_dict.other.current_fats_avg_other|default:'0.0'|amount_is_correct:'0'|safe }}</td>
                        <td>{{ meal_stage_dict.other.current_kcal_avg_other|default:'0.0'|amount_is_correct:'0'|safe }}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{ total_composition_dict.current_carbs_avg|default:'0.0'|amount_is_correct:'137'|safe }}</td>
                        <td>{{ total_composition_dict.current_prot_avg|default:'0.0'|amount_is_correct:'91'|safe }}</td>
                        <td>{{ total_composition_dict.current_fats_avg|default:'0.0'|amount_is_correct:'34'|safe }}</td>
                        <td>{{ total_composition_dict.current_kcal_avg|default:'0.0'|amount_is_correct:'1200'|safe }}</td>
                    </tr>
                    {% else %}
                        <tr><td colspan="5" align="center"><b>No data for the selected period</b></td></tr>
                    {% endif %}
                    {% endif %}
                </table>
            </td>
            <td></td>
        {% endif %}
        </tr>
        <tr>
            <td colspan="2"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
    {% block js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.en-GB.min.js' %}"></script>
    <script src="{% static 'js/datepicker_profile.js' %}"></script>
{% endblock js%}

{% endblock content %}
