{% extends 'fitnessapp/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
{{ title }}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/info_avatar.css' %}">
{% endblock css %}

{% block content %}
<table class="table">
    <tr>
        <td class="col-md-2"></td><td class="col-md-8"><table class="col-md-12">
            {% if users %}
                <tr><th></th>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                </tr>
                {% for element in users %}
                    <tr>
                        <td>
                        {% if element.profile_photo %}
                            {% thumbnail element.profile_photo "150x150" crop="center" as im %}
                                <img class="contact-info__avatar" src="{{ im.url }}" style="width: 50px; height: 50px">
                            {% endthumbnail %}
                        {% endif %}
                        </td>
                        <td style="vertical-align: middle">
                            <a class="nav-link" href="{% url 'profile' id=element.id %}">{{ element }}</a>
                        </td>
                        <td style="vertical-align: middle">
                            <a class="nav-link" href="{% url 'profile' id=element.id %}">{{ element.first_name }}</a>
                        </td>
                        <td style="vertical-align: middle">
                            <a class="nav-link" href="{% url 'profile' id=element.id %}">{{ element.last_name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr style="text-align: center">
                    <th><h2>User not found</h2></th>
                </tr>
            {% endif %}
        </table></td><td class="col-md-2"></td>
    </tr>
</table>
{% endblock content %}